/* Navigation */

@media screen and (max-width: 1000px) {

  ul.nav li.left,
  ul.nav li {
    float: none;
  }

  li.left {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-nav {
    display: block;
  }

  .nav-left {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }

  .nav-right {
    display: none;
    float: none;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 0 20% 2em 20%;
    background: black;
    position: absolute;
    z-index: 100;
  }

  .cta p {
    margin-right: 3em;
  }

}

/* Responsive Styles */

@media screen and (max-width: 800px) {

  .container-section {
    margin: 0 1em;
  }

  .cta-arrow {
    display: none;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 0;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0;
  }

  .action {
    margin-bottom: 4em;
  }

  .container-img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .featured-service {
    padding: 2em 0;
  }

  .blog-img {
    display: none;
  }

  #contact {
    background-position: left center;
  }

  #contact form input {
    width: 90%
  }

  .contact-options p {
    margin: 1em 0;
  }

  .footer-right,
  .footer-left {
    margin-top: 1em;
    text-align: center;
  }

}
